html, body{
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #AAA;
}


input {
  background-color: #000;
  border: 1px solid #AAA;
  color: #AAA;
}

a {
  color: #509;
  font-weight:600;
  font-size: 14pt;
}

div {
  outline: none;
}

/*Posts*/

.Posts{
  float: left;
  list-style-type: none;
}

.Post {
  clear: both;
  margin: 1em 0;
  overflow: hidden;
  position: relative;
}

.Error {
  background-color: #600;
}



.Score, .Thumbnail {
  float: left;
  margin: 0 1em;
}

@keyframes filter-animate {
  0% {
    filter: hue-rotate(0);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0);
  }

}

.Thumbnail {
  position: relative;
  min-height: 3em;
  min-width: 150px;

}

.easter-egg {
  animation: filter-animate 5s infinite;
}


.Thumbnail::after {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.Thumbnail::before {
  content: ' ';
  background: url("https://www.redditstatic.com/sprite-reddit.6Om8v6KMv28.png");
  background-position: -10px -1099px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 3;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 10px 50px;
}

.Score {
  width: 5em;
}

.PostInfo {

  float: left;
  width: 60%;
}

/*Subreddit List*/
.SubredditList {
  float:left;
  cursor: pointer;
}
.SubredditList .Subreddit {
  float: left;
  margin-left: 2em;
  margin-top: 1pt;
}
.Subreddits {
  list-style-type: circle;
}
