html, body{
  width: 100%;
  height: 100%;
}

/*Posts*/

.Posts{
  float: left;
  list-style-type: none;
}

.Post {
  clear: both;
  margin: 1em 0;
  overflow: auto;
}



.Score, .Thumbnail {
  float: left;
  margin: 0 1em;
}

/*Subreddit List*/
.SubredditList {
  float:left;
}
.Subreddits {
  list-style-type: circle;
}
